@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
@keyframes fadeIn{
to{
opacity: 0;}
}
@keyframes FadeOut{
	to{
		z-index: inherit;
	}
 
}
 @keyframes slamIn {
    0% {
      transform: scale(5); 
      opacity: 1;
      filter: blur(10px);
    }
    100% {
      transform: scale(1);
      opacity: 0;
      filter: blur(0px);
    }
  }
body{
     font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;


}
.welcome{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    animation: fadeIn 8s ease-in forwards;
	position: fixed;
    animation: disapear 14s linear forwards ;
       
       animation: slamIn 8s linear forwards;
        
}
.loading-page{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(#0B0C10, #222729);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
	position: fixed;
	z-index: 100;
}
.svg{
    height: 150px;
    width:150px ;
    stroke: aqua; 
    fill-opacity:0 ;
    stroke-dasharray: 4500;
    animation: draw 14s ease-in-out;


    
    
    
}
.logo-name{
   font-size:  36px; 
   letter-spacing: 10px;
   margin-left: 36px;
   color: #fff;


  text-transform: uppercase;
 
  font-weight: bolder;
}
@keyframes disapear {
    0%{
        z-index: 0;
    }
    100%{
        z-index: -9999;
    }
    
}
@keyframes draw {
    0%{
        stroke-dashoffset: 4500;
    }
    
   100%{
    stroke-dashoffset: 0;
   } 
}
.name-container {
  height: 30px;
  
}
.signUpBtnLink.formwrapper.active.Login{
    transform: translateY(-450px);
}
*{
    font-family: monospace;
}
.header{
 
    align-items: center;
    display:flex;
    
    
}
.drop-block{
    
    width: 100px;
    height: 40px;
    margin-left: 20px;
    display: flex;
        align-items: center;
    justify-content: center;
    text-align: center;
   border: 1px solid transparent;
  box-shadow: 0 0 0 0 turquoise; 
  transition: box-shadow 0.3s ease;
  color: rgb(145, 145, 145);
   transform:scale(1.01);
   text-transform: uppercase;
   

border-radius: 5px;
}
.svg1{
    height: 100px;
    width:100px ; 
    color: darkcyan;   
}
.svg2{
    height: 23px;
    width: 23px;
   
}
.input{
    margin-left: 50px;
    margin-right: 7px;
    width: 1000px;
    height: 25px;
}
.log{
    background-color: darkcyan;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    display: flex;
        align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 1px;
}
.dropdown{
       background-color: rgb(218, 218, 218);
    display: flex;
    
justify-content: left;
position: relative;
}
.drop-block :hover{
   
    
   box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.2),
              0 0 0 10px rgba(0, 123, 255, 0.1);
  border-color: #007bff;
  
}
.content{
    position: absolute;
    align-items: center;
    border: black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}
.dropdown2{
    

    
}
.dropdown1{
   
    
    top :10px;
    display: block;
    background:  rgb(218, 218, 218);
    
}
.dropdown1 li{
    margin-top: 10px;
    border: black;
    border-radius: 1px;
    
    
    

}
body{
    background-color: rgb(255, 255, 255);
    background: rgb(255, 253, 253);

}

.card{
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    background: white;
    height: 90px;
    width:150px;
    margin-left: 20px;
    flex: 0 0 5em;
}
.infinityimage{
    justify-content: center;
    align-items: center;
    display: flex;
     padding:10px;
     overflow-x: auto;
   
     width: 70%;
     margin-left: 14%;
     gap: 1em;
     
     
    
}
.group{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1em;
    animation: spin 10s linear infinite ;
     
}
@keyframes spin{
    from {translate:0deg;}
    to {translate:50%;}
}
.infinityimage::-webkit-scrollbar{
    display: none;
}
.drop-block:hover{
     transform:scale(1.2);
}
.img1{
 justify-content: center;
    align-items: center;
   
    border-radius: 5px;
    background: white;
    height: 1000px;
    width:150px;
    
  
}
.img2{
 justify-content: right;
    align-items: right;
  
    border-radius: 5px;
    background: white;
    height: 90px;
    width:150px;
    margin-left: 1027px;
    height: 998px;
    
    
   
}
.log:hover{
    transform: scale(1.1);
    box-shadow:
              0 0 0 10px rgba(0, 123, 255, 0.1);
  border-color: #007bff;
}
.drop-block .content{
    display: none ;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
    
}
.drop-block:hover .content{
    display:block;
    
}
.teacher{
    border: none;
    background-color:rgb(218, 218, 218);
    color:rgb(97, 97, 97); ;
}
.document{
    border: none;
    background-color:rgb(218, 218, 218);
    color:rgb(97, 97, 97); ;
}
.content{
 display: flex;
        align-items: center;
    justify-content: center;
    text-align: center;
   border: 1px solid transparent;
}
.wrapper1{
    z-index: 900;
}
